.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/pruebareactwi.appspot.com/o/AC-DC.jpg?alt=media&token=cf67d5c6-02ba-455a-a235-7888620dd78c");
    background-position: cover;
    padding: 5% 20% 30% 20%;
}